
# MacOS Window Manager
.DS_Store

# Dependencies
node_modules
build
.DS_Store
.vscode/chrome

# Generated Styles for AreaPlugin
core/src/plugins/areaPlugin/style.css.d.ts
yarn-error.log
server/google_credentials.json
server/files/

# Ignore lockfiles
yarn.lock
package-lock.json
.idea

.env.local
.env.*.local