
# MacOS Window Manager
.DS_Store

# Dependencies
node_modules
build
.DS_Store
.vscode/chrome

# Generated Styles for AreaPlugin
core/src/plugins/areaPlugin/style.css.d.ts
yarn-error.log
client/.env
server/.env
core/.env
server/google_credentials.json

# Ignore lockfiles
yarn.lock
package-lock.json
.idea
