.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  margin-right: var(--medium);
  padding: 0;
  position: relative;
}
.thoth-logo {
  position: relative;
  top: 2px;
  margin-left: calc( var(--c2) + 2px);
  margin-right: var(--c3);
  height: var(--c2);
}
.menu-bar-item {
  border-radius: 4px;
  cursor: default;
  background-color: var(--dark-0);
  padding: var(--extraSmall);
  padding-left: var(--small);
  padding-right: var(--small);
  font-family: "IBM Plex Mono";
  text-transform: uppercase;
  list-style: none;
}
.menu-bar-item:hover {
  background-color: var(--dark-2);
}