.th-tabbar {
  flex: 1;
  display: inline-block;
  background-color: var(--dark-0);
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 8;
}
.tabbar-section {
  height: var(--c6);
  display: flex;
  align-items: center;
}
/* .tabbar-section:last-child {
  justify-content: flex-end;
} */
.thoth-logo {
  position: relative;
  top: 2px;
  margin-left: calc( var(--c2) + 2px);
  margin-right: var(--c3);
  height: var(--c2);
}

.tabbar-tab {
  position: relative;
  top: 1px;
  padding: var(--small) var(--small);
  box-sizing: border-box;
  width: var(--c28);
  background-color: var(--dark-1);
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.tabbar-tab.active {
  background-color: var(--dark-1);
  height: var(--c6);
  border-radius: 4px 4px 0 0;
  color: var(--dark-5);
  border: 1px solid var(--dark-2);
  border-bottom: 1px solid var(--dark-1);
}

.tabbar-tab.inactive {
  background-color: transparent;
  border-radius: 4px;
  padding-top: var(--c1);
  padding-bottom: var(--c1);
  height: var(--c4);
  margin-left: var(--extraSmall);
}

.tabbar-tab p {
  flex: 1;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}

.tabbar-tab span {
  display: flex;
  right: 10px;
  font-size: var(--c2);
  cursor: pointer;
}
