node_modules
build
yarn-error.log
dist
.eslintcache

# macOS file system
.DS_Store

# Coverage Directory
coverage

#eslint
.eslintcache

# Snyk
.dccache
google_credentials.json

.env.local
.env.*.local