.th-sidepanel {
    position: absolute;
    height: calc(100vh - 70px - var(--small) - var(--small));
    width: 33vw;
    right: var(--small);
    top: var(--c10);
    background-color: rgba(50,50,50,0.95);
    border: 1px solid var(--dark-2);
    z-index: 9;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
}
.tabs {
    display: flex;
    flex-direction: row;
}
.tab {
    background-color: rgba(40,40,40,0.95);
    cursor: pointer;
    text-align: center;
    padding: var(--small);
    flex: 1;
    border-bottom: 1px solid var(--dark-2);
}
.tab-page {
    flex: 1;
}
.tab:hover {
    background-color: rgba(60,60,60,0.95);
}
.tab.active{
    border-bottom: 1px solid transparent;
    background-color: rgba(50,50,50,0.95);
}