.window {
  display: flex;
  flex-direction: column;
  padding: var(--c1);
  height: 100%;
  box-sizing: border-box;
}
.window.bordered .window-layout{
  border: 1px solid var(--dark-2);
}
.window.darkened .window-layout{
  background-color: var(--dark-2);
}
.window-layout {
  flex-grow: 28;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.window-toolbar {
  display: flex;
  flex: 1;
  height: var(--c4);
  justify-content: flex-end;
  padding-bottom: var(--c1);
  gap: var(--extraSmall)
}
